name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: "1.14"
              otp: "25.3"
          - pair:
              elixir: "1.15"
              otp: "26.2"
          - pair:
              elixir: "1.16"
              otp: "26.2"
          - pair:
              elixir: "1.17"
              otp: "27.0"
            lint: lint
    steps:
      - uses: actions/checkout@v4

      - name: Install test dependencies
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev krb5-{user,kdc,admin-server}

      - name: Setup Kerberos environment and initialize configuration
        run: sudo ./test/support/files/setup_kerberos.sh

      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.12.0

      - uses: erlef/setup-beam@main
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}
          version-type: strict

      - uses: actions/cache@v4
        with:
          path: deps
          key: mix-deps-${{ hashFiles('**/mix.lock') }}

      - run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test --include kerberos:true
        if: ${{ ! matrix.lint }}

      - run: mix test --warnings-as-errors --include kerberos:true
        if: ${{ matrix.lint }}
